.sapMITH {
    background-color: rgb(145, 204, 255);
}

.sapMGT {
    background: #91ccff52;
}

.imgCahsItem {
    padding: 0.5rem;
    margin-top: 0.3rem;
}


.fragmentLabel {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    
}

.sapMDialog.sapMPopup-CTX>header .sapMHeader-CTX, .sapMDialog.sapMPopup-CTX>header .sapMSubHeader-CTX {
    background-color: rgb(145, 204, 255);
}

.datePicker {
    padding-left:  1rem;
}

.money {
    padding-left: 5rem;
}

.sapMGT:hover {
    background: rgb(145, 204, 255);
}

.dp {
    padding-left: 0.5rem;
}

.auth {
    position: fixed; 
    top: 20%;
    left: 35%;
    width: 600px;
    height:400px;
    justify-content: center;
    align-items: center;
}

.authLabel{
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 20%;
}

.regLabel {
    font-size: 20px;
    margin-left: 25%;
    margin-bottom: 20%;
}

.sapUiGlobalBackgroundColor, .sapMShellGlobalInnerBackground {
    /* background-color: #8cd7ff40; */
}
    

