.sapMITH {
    background-color: rgb(145, 204, 255);
}



.imgCahsItem {
    padding: 0.5rem;
    margin-top: 0.3rem;
}


.fragmentLabel {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    
}

.sapMDialog.sapMPopup-CTX>header .sapMHeader-CTX, .sapMDialog.sapMPopup-CTX>header .sapMSubHeader-CTX {
    background-color: #9db1c4;
}

.datePicker {
    padding-left:  1rem;
}

.money {
    padding-left: 5rem;
}



.dp {
    padding-left: 0.5rem;
}

.auth {
    position: fixed; 
    top: 20%;
    left: 34%;
    width: 600px;
    height:400px;
    justify-content: center;
    align-items: center;
}

.authLabel{
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 20%;
}

.fragment{
    font-size: 14px;
    margin-top: 10%;
    margin-left: 0.5rem;
}

.fragmentButton{
    margin-top: 3%;
}

.regLabel {
    font-size: 20px;
    margin-left: 25%;
    margin-bottom: 20%;
}

.sapUiGlobalBackgroundColor, .sapMShellGlobalInnerBackground {
    /* background-color: #8cd7ff40; */
}
    

.sapMShellBrandingBar {
    height: 0px;
}

.toolHead {
    background-color: #25202e;
}

.sapMDialog>.sapMDialogSection {
    max-width: 100%;
    background: #25202e;
}


.sapMLIB {
    background:  #25202e;
    border-bottom: 1px solid #757575;
}

.sapMLIBHoverable:hover {
    background: #383046;
}

.colorText {
    color: rgb(202, 202, 202);
}

.sapMBtn:not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized) .sapUiIcon {
    color: #ffffff;
}

.sapMBtn:hover:not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized) .sapUiIcon {
    color: #ffffff;
}

.sapContrast.sapTntToolHeader .sapFAvatar {
    background-color: #2f3c4800 !important;
}

.sapMGTHdrTxt>.sapMText {
    color: #fff;
    font-weight: normal;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 1rem;
}
.sapMGTSubHdrTxt>.sapMText, .sapMGTSubHdrTxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: .875rem;
    font-weight: normal;
    color: rgb(156, 156, 156);
}

.sapMGT {
    background: #25202e;
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
}

.sapMGT:hover {
    background: #383046;
}

.sapMDialog.sapMPopup-CTX>header .sapMHeader-CTX, .sapMDialog.sapMPopup-CTX>header .sapMSubHeader-CTX {
    background-color: #2f3c48;
}

.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: #e9e9e9;
    margin: 0;
    vertical-align: middle;
}

.sapUiGlobalBackgroundColor {
    background-color: #25202e;
}

.sapMBtnInner {
    background-color: #51728f00 !important; 
    border: 0.0625rem solid #a0b2c100 !important;
    color: #ffffff !important;
    text-shadow: 0 0 0.125rem #000 !important;
}

.sapMBtnInner:hover {
    background-color: #51728f9a !important; 
    border: 0.0625rem solid #a0b2c100 !important;
    color: #ffffff !important;
    text-shadow: 0 0 0.125rem #000 !important;
}

.sapMBtn:hover>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive):not(.sapMBtnDisabled):not(.sapMToggleBtnPressed) bdi {
    color: #ffffff;
}

.sapMBtn:hover>.sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
    color: #ffffff;
}